body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #1a0e0c;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #1a0e0c;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover, 
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #e2bdb7;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #e2bdb7;
}

.text-colored {
    color: #5e1100;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #5e1100;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #5e1100;
}

.social-link li {
    list-style: none;
    display: inline;
}

.social-link a {
    text-decoration: none;
}

@media (max-width: 767px) {
    
}
    
